{# On inclut le layout #} 
{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <article>
        <header>
            <h1>{{ post.title }}</h1>
            <small>Ecrit le {{ post.createdAt | date('d/m/Y H:i') }}</small>
            <p>Catégorie : {{ post.category.title }}</p>
        </header>
        {{ post.content }}
    </article>
    
    {#<section id="comment-list">#}
    {#    <ul>#}
    {#        {% for comment in comments %}#}
    {#            <article>#}
    {#                <header>#}
    {#                    Rédigé par {{ comment.pseudo }} le {{ comment.created_at }}#}
    {#                </header>#}
                    
    {#                {{ comment.content }}#}
    {#            </article>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    {#</section>#}
    

{% endblock %}